/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.header {
  font-family: "Noto Sans TC", sans-serif;
  background: #AA0601;
  font-size: 20px;
  padding: 12px 0;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}
.header ul a {
  text-decoration: none;
  color: white;
}

.logo img {
  width: 80px;
  height: 49px;
}

@media (max-width: 992px) {
  .container {
    margin: 0 36px;
  }
  .header ul {
    width: 65%;
  }
}
@media (max-width: 767px) {
  .container {
    margin: 0 14px;
  }
  .header {
    padding-bottom: 0;
  }
  .header .container {
    margin: 0;
  }
  .header .navbar {
    display: block;
  }
  .header ul {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header ul li {
    width: 50%;
    text-align: center;
    padding: 12px 0;
    border: 1px solid white;
  }
  .header ul li:nth-child(1), .header ul li:nth-child(3) {
    border-left: 0;
    border-right: 0;
  }
  .header ul li:nth-child(2), .header ul li:nth-child(4) {
    border-right: 0;
  }
  .logo {
    padding-bottom: 16px;
    padding-left: 14px;
  }
}
.footer {
  padding-top: 48px;
  background: #AA0601;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer img {
  width: 48px;
}
.footer .topInfo {
  font-family: "Noto Sans TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .topInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .topInfo .menu {
  line-height: 24px;
  width: 35%;
}
.footer .topInfo .socialMedia {
  width: 15%;
}
.footer .info {
  font-family: "Roboto", sans-serif;
  margin-top: 24px;
  border-bottom: 1px solid white;
  padding-bottom: 32px;
}
.footer .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .info li span:nth-child(1), .footer .info li span:nth-child(3) {
  margin-right: 16px;
}
.footer .info li:nth-child(1) {
  margin-bottom: 8px;
}
.footer .info span {
  font-size: 36px;
  line-height: 54px;
}
.footer .law {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .law ul {
  font-family: "Noto Sans TC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12%;
  line-height: 21px;
  font-size: 14px;
}
.footer .law p {
  font-family: "Roboto", sans-serif;
  line-height: 21px;
}

@media (max-width: 992px) {
  .footer img {
    width: 40px;
  }
  .footer .topInfo .menu {
    width: 65%;
  }
  .footer .topInfo .socialMedia {
    width: 22%;
  }
  .footer .law {
    padding-bottom: 40px;
  }
  .footer .law ul {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 24px;
  }
  .footer img {
    width: 24px;
  }
  .footer .topInfo {
    width: 25%;
  }
  .footer .topInfo .menu {
    width: 0;
    display: none;
  }
  .footer .topInfo .socialMedia {
    width: 100%;
  }
  .footer .mobile-topInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    border-bottom: 1px solid white;
  }
  .footer .info {
    margin-top: 0;
    padding-bottom: 24px;
    border-bottom: 0;
  }
  .footer .info span {
    font-size: 16px;
    line-height: 24px;
  }
  .footer .info li span:nth-child(1), .footer .info li span:nth-child(3) {
    margin-right: 8px;
  }
  .footer .law {
    padding-top: 16px;
    padding-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .law ul {
    width: 25%;
    font-size: 16px;
    line-height: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .law ul li:nth-child(1) {
    margin-bottom: 8px;
  }
  .footer .law p {
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.banner {
  font-family: "Noto Sans TC", sans-serif;
  padding: 286px 0;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;
}
.banner h2 {
  color: #650300;
  font-size: 64px;
  line-height: 96px;
  font-weight: bold;
  margin-bottom: 4px;
}
.banner p {
  color: #650300;
  font-size: 36px;
  line-height: 54px;
}
.banner p span {
  font-family: "Roboto", sans-serif;
}
.banner a {
  margin-left: auto;
  text-decoration: none;
  background: #AA0601;
  font-size: 20px;
  color: white;
  line-height: 29px;
  padding: 6px 12px;
}

.aboutUs {
  font-family: "Noto Sans TC", sans-serif;
  padding: 80px 0;
  background: #FBF2F2;
}
.aboutUs h2 {
  text-align: center;
  font-weight: bold;
  line-height: 72px;
  color: #650300;
  font-size: 48px;
  margin-bottom: 24px;
}
.aboutUs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutUs ul li {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutUs ul h3 {
  font-weight: bold;
  font-size: 24px;
  color: #650300;
  line-height: 36px;
}
.aboutUs ul p {
  line-height: 24px;
}
.aboutUs ul img {
  width: 84px;
}

.classic {
  padding: 80px 0;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
}
.classic ul {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.classic ul li {
  width: 32%;
}
.classic h2 {
  font-family: "Noto Sans TC", sans-serif;
  color: #650300;
  text-align: center;
  margin-bottom: 48px;
}
.classic h3 {
  color: #AA0601;
  font-style: italic;
  text-align: center;
}

.brand {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-align: center;
}
.brand ul {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.brand ul li:nth-child(1) h3 {
  border-right: 1px solid #e7e7e7;
}
.brand h2 {
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  margin-bottom: 48px;
}
.brand h3 {
  color: #AA0601;
  background: white;
  font-style: italic;
  padding: 8px 0;
}

.customer {
  padding: 80px 0;
}
.customer h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #650300;
  font-weight: bold;
  margin-bottom: 48px;
}
.customer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.customer ul li {
  width: 24%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
}
.customer ul div {
  padding: 16px;
}
.customer ul h3 {
  margin-bottom: 8px;
}
.customer ul h3, .customer ul p {
  line-height: 24px;
}
.customer ul li:nth-child(2), .customer ul li:nth-child(3), .customer ul p {
  font-family: "Noto Sans TC", sans-serif;
}
.customer ul li:nth-child(1), .customer ul li:nth-child(4) {
  font-family: "Roboto", sans-serif;
}
.customer .date {
  font-family: "Roboto", sans-serif;
  margin-top: 72px;
  color: #707070;
  font-size: 14px;
  line-height: 21px;
}

.contact {
  font-family: "Noto Sans TC", sans-serif;
  padding: 80px 0;
  background: #FBF2F2;
}
.contact .container {
  padding: 0 330px;
}
.contact h2 {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  color: #650300;
  margin-bottom: 48px;
}
.contact p {
  font-size: 20px;
  line-height: 30px;
}
.contact form {
  margin-top: 24px;
}
.contact form button {
  font-family: "Noto Sans TC", sans-serif;
  border: #000000 solid 1px;
  padding: 16px 0;
  width: 68%;
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  background: #AA0601;
  color: white;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  cursor: pointer;
}
.contact label {
  display: block;
  margin-bottom: 8px;
  line-height: 24px;
}
.contact input, .contact textarea {
  margin-bottom: 16px;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #000000;
  background: #FBF2F2;
}
.contact input[type=checkbox] {
  width: auto;
}
.contact .agreeCheckbox {
  position: relative;
}
.contact .agreeCheckbox input {
  display: none;
}
.contact .agreeCheckbox input:checked ~ label::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  border-bottom: 3px solid #AA0601;
  border-right: 3px solid #AA0601;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 10%;
  vertical-align: middle;
  position: absolute;
  left: 6px;
}
.contact .agreeCheckbox label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333333;
  border-radius: 10%;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 4px;
}

@media (max-width: 992px) {
  .aboutUs ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutUs ul li {
    width: 48%;
  }
  .aboutUs ul li:nth-child(1), .aboutUs ul li:nth-child(2) {
    margin-bottom: 16px;
  }
  .classic {
    padding: 80px 180px;
  }
  .classic ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .classic ul li {
    width: 100%;
  }
  .classic ul li:nth-child(1), .classic ul li:nth-child(2) {
    margin-bottom: 24px;
  }
  .brand {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
  }
  .brand ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .brand ul li {
    width: 100%;
  }
  .brand ul li:nth-child(1) h3 {
    border-right: 0;
    margin-bottom: 24px;
  }
  .customer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .customer ul li {
    width: 48.3%;
  }
  .customer ul li:nth-child(1), .customer ul li:nth-child(2) {
    margin-bottom: 24px;
  }
  .contact .container {
    padding: 0 60px;
  }
  .contact p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact form button {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 144px 0;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
    background-size: cover;
  }
  .banner p {
    font-size: 16px;
    line-height: 24px;
  }
  .banner h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  .aboutUs h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .aboutUs ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .aboutUs ul li {
    width: 100%;
    margin-bottom: 24px !important;
  }
  .classic {
    padding: 40px 0;
  }
  .classic h2 {
    margin-bottom: 24px;
  }
  .classic ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .classic ul li {
    width: 100%;
  }
  .brand {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
    padding: 40px 0;
  }
  .brand h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .customer {
    padding: 40px 0;
  }
  .customer h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .customer ul li {
    width: 100%;
  }
  .customer ul li:nth-child(1), .customer ul li:nth-child(2), .customer ul li:nth-child(3) {
    margin-bottom: 16px;
  }
  .contact {
    padding: 40px 0;
  }
  .contact .container {
    padding: 0;
  }
  .contact h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  .contact p {
    font-size: 20px;
    line-height: 30px;
  }
  .contact form button {
    width: 100%;
    margin-top: 24px;
  }
}
a {
  text-decoration: none;
}

.category {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.category li {
  width: 33.3333333333%;
  padding: 24px 0 16px 0;
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid transparent;
}
.category li:hover {
  border-bottom: 8px solid #AA0601;
}
.category li:nth-child(1) {
  border-bottom: 8px solid #AA0601;
}
.category h2 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}
.category a {
  color: black;
  display: inline-block;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-header li:nth-child(1) {
  width: 50%;
  height: 296px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true");
  background-size: cover;
  background-position: center;
}
.product-header li:nth-child(2) {
  width: 50%;
  height: 296px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true");
  background-size: cover;
  background-position: center;
}

.products {
  padding-top: 80px;
}
.products h2 {
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.products h3 {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 32px;
  font-family: "Noto Sans TC", sans-serif;
}
.products ul {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products ul li {
  width: 23.6%;
  margin-bottom: 80px;
  font-size: 24px;
  line-height: 36px;
}
.products ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products ul div a {
  color: black;
}
.products ul div span {
  color: #AA0601;
}

.brownRec {
  width: 24px;
  height: 24px;
  background: #5F3E2D;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
}

.orangeRec {
  width: 24px;
  height: 24px;
  background: #B75929;
  border-radius: 4px;
  display: inline-block;
}

.pagination {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}
.pagination li {
  border: 1px solid #555555;
}
.pagination li:hover a {
  background: #000 !important;
  color: white;
}
.pagination li:nth-child(1), .pagination li:nth-child(2), .pagination li:nth-child(3), .pagination li:nth-child(4), .pagination li:nth-child(5), .pagination li:nth-child(6) {
  border-right: 0;
}
.pagination li:nth-child(3) a {
  background: black;
  color: white;
}
.pagination li:nth-child(7) a {
  background: #F2F2F2;
}
.pagination li:nth-child(1) a, .pagination li:nth-child(7) a {
  padding: 12px;
  font-family: "Noto Sans TC", sans-serif;
}
.pagination a {
  color: #555555;
  display: inline-block;
  padding: 12px 16px;
}

@media (max-width: 992px) {
  .category.container {
    margin: 0;
  }
  .category.container h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .product-header li:nth-child(1) {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true");
  }
  .product-header li:nth-child(2) {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true");
  }
  .products {
    padding-bottom: 40px;
  }
  .products ul li {
    width: 48%;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .category.container {
    margin: 0;
  }
  .category.container h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .product-header li:nth-child(1) {
    height: 136px;
  }
  .product-header li:nth-child(2) {
    height: 136px;
  }
  .products h2, .products h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .products h3 {
    margin-bottom: 24px;
  }
  .products ul li {
    width: 100%;
    margin-bottom: 24px;
  }
  .pagination {
    margin-bottom: 64px;
    font-size: 16px;
    line-height: 21px;
  }
}/*# sourceMappingURL=all.css.map */