.footer{
  padding-top: 48px;
  background: $primary;
  color: white;
  a{
    color: white;
    text-decoration: none;
  }
  img{
    width: 48px;
  }
  .topInfo{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
      display: flex;
      justify-content: space-between;
    }
    .menu{
      width: 35%;
    }
    .socialMedia{
      width: 15%;
    }
  }
  .info{
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    li{
      display: flex;
    }
    li span:nth-child(1),  li span:nth-child(3){
      margin-right: 16px;
    }
    li:nth-child(1){
      margin-bottom: 8px;
    }
    span{
      font-size: 36px;
      line-height: 54px;
    }
  }
  .law{
    padding: 32px 0;

    display: flex;
    justify-content: space-between;
    ul{
      font-family: 'Noto Sans TC', sans-serif;
      display: flex;
      justify-content: space-between;
      width: 12%;
      font-size: 14px;
    }
    p{
      font-family: 'Roboto', sans-serif;
      line-height: 21px;
    }
  }
}

@media(max-width: 992px){
  .footer{
    img{
      width: 40px;
    }
    .topInfo{
      .menu{
        width: 65%;
      }
      .socialMedia{
        width: 22%;
      }
    }
    .law{
      padding-bottom: 40px;
      ul{
        width: 25%;
      }
    }
  }
}

@media(max-width: 767px){
  .footer{
    padding-top: 24px;
    img{
      width: 24px;
    }
    .topInfo{
      .menu{
        width: 0;
        display: none;
      }
      .socialMedia{
        width: 100%;
      }
      width: 25%;
    }
    .mobile-topInfo{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: start;
      border-bottom: 1px solid white;

    }
    .info{
      margin-top: 0;
      padding-bottom: 24px;
      border-bottom: 0;

      span{
        font-size: 16px;
      }

      li span:nth-child(1),  li span:nth-child(3){
        margin-right: 8px;
      }
    }
    .law{
      padding-top: 16px;
      padding-bottom: 24px;
      flex-direction: column;
      ul{
        width: 25%;
        font-size: 16px;
        flex-direction: column;
        li:nth-child(1){
          margin-bottom: 8px;
        }
      }
      p{
        margin-bottom: 8px;
      }
    }
  }
}