.banner{
  font-family: 'Noto Sans TC', sans-serif;
  padding: 286px 0;
  background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: end;

  h2{
    color:$darkRed;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 4px;
  }

  p{
    color:$darkRed;
    font-size: 36px;
    span{
      font-family: 'Roboto', sans-serif;
    }
  }
  a{
    margin-left: auto;
    text-decoration: none;
    background: $primary;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
  }
}

.aboutUs{
  font-family: 'Noto Sans TC', sans-serif;
  padding: 80px 0;
  background: $lightPink;
  h2{
    text-align: center;
    font-weight: bold;
    color: $darkRed;
    font-size: 48px;
    margin-bottom: 24px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    li{
      width: 24%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h3{
      font-weight: bold;
      font-size: 24px;
      color: $darkRed;
    }
    img{
      width: 84px;
    }
  }
}
.classic{
  padding: 80px 0;
  font-size: 48px;
  font-weight: bold;
  ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    li{
      width: 32%;
    }
  }
  h2{
    font-family: 'Noto Sans TC', sans-serif;
    color: $darkRed;
    text-align: center;
    margin-bottom: 48px;
  }
  h3{
    color: $primary;
    font-style: italic;
    text-align: center;
  }
}
.brand{
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    li:nth-child(1) h3{
      border-right: 1px solid #e7e7e7;
    }
  }
  h2{
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
    margin-bottom: 48px;
  }
  h3{
    color: $primary;
    background: white;
    font-style: italic;
    padding: 8px 0;
  }

 
}

.customer{
  padding: 80px 0;
  h2{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 48px;
    text-align: center;
    color: $darkRed;
    font-weight: bold;
    margin-bottom: 48px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    li{
      width: 24%;
      border-radius: 4px;
      box-shadow: 0px 2px 6px #00000029;
    }
    div{
      padding: 16px;
    }
    h3{
      margin-bottom: 8px;
    }
    
    li:nth-child(2),li:nth-child(3), p{
      font-family: 'Noto Sans TC', sans-serif;
    }
    li:nth-child(1),li:nth-child(4){
      font-family: 'Roboto', sans-serif;
    }
  }
  .date{
    font-family: 'Roboto', sans-serif;
    margin-top: 72px;
    color:#707070;
    font-size: 14px;
  }
}

.contact{
  font-family: 'Noto Sans TC', sans-serif;
  padding: 80px 0;
  background: $lightPink;
  .container{
    padding: 0 330px;
  }
  h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: $darkRed;
    margin-bottom: 48px;
  }
  p{
    font-size: 20px;
  }
  form{
    margin-top: 24px;
    button{
      font-family: 'Noto Sans TC', sans-serif;
      border: #000000 solid 1px;
      padding: 16px 0;
      width: 68%;
      margin: 0 auto;
      display: block;
      margin-top: 48px;
      background: $primary;
      color: white;
      font-size: 16px;
      border: 0;
      cursor: pointer;
    }
  }
  label{
   display: block;
   margin-bottom: 8px;
  }
  input, textarea{
    margin-bottom: 16px;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000000;
    background: $lightPink;
  }
  input[type="checkbox"]{
    width: auto;
  }
  .agreeCheckbox{
    position: relative;
    input{
      display: none;
    }
    input:checked ~ label::after{
      content: '';
      display: inline-block;
      width: 10px;
      height: 20px;
      border-bottom: 3px solid $primary;
      border-right: 3px solid $primary;
      transform: rotate(45deg);
      border-radius: 10%;
      vertical-align: middle;
      position: absolute;
      left: 6px;
    }

    label::before{
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #333333;
      border-radius: 10%;
      vertical-align: middle;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
}

@media(max-width: 992px){
  // 平板
  .aboutUs{
    ul{
      flex-wrap: wrap;
      li{
        width: 48%;
      }
      li:nth-child(1), li:nth-child(2){
        margin-bottom: 16px;
      }
    }
  }
  .classic{
    padding: 80px 180px;
    ul{
      flex-wrap: wrap;
      li{
        width: 100%;
      }
      li:nth-child(1),li:nth-child(2){
        margin-bottom: 24px;
      }
    }
  }
  .brand{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true');

    ul{
      flex-wrap: wrap;
      li{
        width: 100%;
      }
      li:nth-child(1) h3{
        border-right: 0;
        margin-bottom: 24px;
      }
    }
  }

  
.customer{
  ul{
    flex-wrap: wrap;
    li{
      width: 48.3%;
    }
    li:nth-child(1), li:nth-child(2){
      margin-bottom: 24px;
    }
  }
}
  
.contact{
  .container{
    padding: 0 60px;
  }
  p{
    font-size: 16px;
  }

  form{
    button{
      width: 55%;
    }
  }

}
}
@media(max-width: 767px){
  // 手機
 .banner{
    padding: 144px 0;
    background-image: url('https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png');
    background-size: cover;

    p{
      font-size: 16px;
    }
    h2{
      font-size: 24px;
      margin-bottom: 8px;
    }
  }

  .aboutUs{
    h2{
      font-size: 24px;
    }
    ul{
      flex-wrap: wrap;
      li{
        width: 100%;
        margin-bottom: 24px !important;
      }
    }
  }

  .classic{
    padding: 40px 0;
    h2{
      margin-bottom: 24px;
    }
      ul{
      flex-wrap: wrap;
      li{
        width: 100%;
      }
    }
  }

  .brand{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true');

    padding: 40px 0;
    h2{
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  .customer{
    padding: 40px 0;
    h2{
      font-size: 24px;
      margin-bottom: 24px;
    }
    ul{
      li{
        width: 100%;
      }
      li:nth-child(1), li:nth-child(2), li:nth-child(3){
        margin-bottom: 16px;
      }
    }
  }

  
.contact{
  .container{
    padding: 0;
  }
  padding: 40px 0;
  h2{
    font-size: 24px;
    margin-bottom: 24px;
  }
  p{
    font-size: 20px;
  }
  form{
    button{
      width: 100%;
      margin-top: 24px;
    }
  }
}
}